node_modules
dist
Dockerfile
.dockerignore
.env
.env.*
**/.env
**/.env.*

test
vitest.config.js
eslint.config.js
README.md
coverage
**/coverage
.nyc_output
.cache
**/.cache

*.log
**/*.log
*.tmp
.git
.gitignore
.vscode
.idea
.DS_Store
Thumbs.db
